/*Adding The Google Fonts by Importing,except wrtting The Code*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
  /* Adding The Background Color to the project*/
  background-color: antiquewhite;
}

*{
  /* adding the margin */
  margin: 0;
  padding: 0;
}

nav{
  /* Adding, The Fam of the Fonts*/
  font-family: 'Ubuntu', sans-serif;
}
nav ul{
  /* Adding,The Type of Tittle Line,To Show Home,and others*/
  display: flex;
  list-style-type: none;
  /*This, will be providing The Size to the TaskBar.  */
  height: 65px;
  background-color:black;
}
/*We Are Using this class to, handle the Size of The Image*/
.brand img{

}
